.back {
    background-color:#2193b0;
    color: white;
    text-align: center;
}

.back1 {
    background-color: black;
    background-size: cover;
    height: 230vh;
}

.h3 {
    text-decoration: underline;
    padding: 10px;
    font-family: Bree serif;
    color:white
}

.but1 {
    background-color: orange;
    color: white;
}
